import React from 'react';
import { Component } from 'react';

export default class Key extends Component{
	render() {
		const API_Key = "API KEY HERE"
		return (
			API_Key
		);	
	}
};

//Must remove the -sample from the file name when API key is added. 
//Not working et so put your api key directely in actions